.container {
    background-color: #E5E5E5;
    height: 100%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.top {
    display: flex;
    width: 100%;
    height: 100px;
}

.topleft {
    display: flex;
    justify-self: flex-start;
    width: 15%;
    justify-content: flex-end;
    font-weight: bold;
}

.toppadding {
    width: 60%;
}

.topright {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    justify-content: space-evenly;
}

.topunderline {
    text-decoration: underline;
    text-decoration-color: #E16259;
}

.selectedContact {
    display: flex;
    justify-content: center;
}

.cards {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    row-gap: 30px;
    padding: 50px 50px 50px 50px;
}