.container {
    background-color: #E5E5E5;
    height: 100%;
}

.loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid lightblue;
    border-color: lightblue transparent lightblue transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.top {
    display: flex;
    width: 100%;
    height: 100px;
}

.topleft {
    display: flex;
    justify-self: flex-start;
    width: 15%;
    justify-content: flex-end;
    font-weight: bold;
}

.toppadding {
    width: 60%;
}

.topright {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    justify-content: space-evenly;
}

.topunderline {
    text-decoration: underline;
    text-decoration-color: #E16259;
}

.selectedContact {
    display: flex;
    justify-content: center;
}

.cards {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    row-gap: 30px;
    padding: 50px 50px 50px 50px;
}